@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}

@keyframes animate-marquee {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% / 3));
  }
}

.marquee {
  animation: animate-marquee s infinite linear;
}
